body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.559),rgba(0,0,0,0.559)), url(bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 1px;
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(0,0,0,0.559);
    border-radius: 50px;
    /* width: fit-content; */
    top: 10px;
   /* position: fixed; */
   float: right;
}

li{
    
    display: inline;
    /* float: right; */
    border-right: 1px solid white;
}

li:last-child{
    border-right: none;
}
li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.5s;

}

li a:hover:not(.active){
    border-radius: 20px;
    background-color: #21afde;
    color: black;
    transition: 0.5s;
}

.content{
    width: 99%;
    top: 30%;
    color: white;
    position: absolute;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.content h1{
    text-align: center;
    font-size: 110px;
    margin: 10px;
}

.content_userName{
    width: 99%;
    top: 10%;
    color: white;
    position: absolute;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: x-large;
}

.funbtn{
    left: 34%;
    font-size: x-large;
    top: 30%;
    border-radius: 20px;
    background-color: #21afde;
    color: black;
    transition: 0.5s;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:500px ;
    height: 70px;
    cursor: pointer;
}

section {
    margin-top: 10%;
}

.contact {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

h4 {
    font-size: 33px;
    color: #21afde;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table {
    border: 1px solid #21afde;
    color: #21afde;
    font-size: x-large;
    border-radius: 10px;
    /* margin-top: 5%; */
    width: 50%;
    margin-left: 26.5%;
}

.table th {
    color: white;
}

.table td {
    text-align: center;
}
h2 {
    font-size: x-large;
    color: #21afde;
    margin-top: 35%;
    margin-left: 42%;
}
